{% extends 'news/base.html' %}
{% block main %}
<header>
    <h1><span class="badge" style="background-color: #293133; padding: 10px 15px; border-radius: 10px;">Бруноям.Поддержка</span></h1>
</header>
    <div class="card mb-3" style="max-width: 1200px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://sun9-83.userapi.com/impf/c855428/v855428873/10d3d/pqnh86JhUBc.jpg?size=320x321&quality=96&sign=85c5257f6db752d43189b251a26f27ac&c_uniq_tag=KkllcRYikvRvLy5BlGZx_z_I06dd89D5NpPvy3dvgJY&type=album" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">Спасибо за обращение!</h1>
            <h2 class="card-text">Мы постараемся как можно скорее ответить на ваши вопросы. Ожидайте.</h2>
            <p class="card-text"><small class="text-body-secondary">График работы поддержки с 9:00 до 21:00 ( вс - выходной )</small></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}